{% extends 'base.html.twig' %}

{% block title %}Nouveau trajet{% endblock %}

{% block body %}
    <h1>Création d'un nouveau trajet</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('lieu_new') }}" class="btn btn-sm btn-primary">Créer un nouveau lieu</a>
    <a href="{{ path('trajet_index') }}">retour à la liste</a>
{% endblock %}
